:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: var(--bg-color);
  color: var(--fg-color);

  --shadow-offset: 0.2em;
  --shadow-offset-neg: -0.2em;
  --mid-color: hsl(0, 0%, 50%);
  --global-trans-time: 8s;
  --bg-color: hsl(0, 0%, 90%);
  --fg-color: hsl(0, 0%, 10%);
}

* {
  text-align: center;
  transition: all var(--global-trans-time);
}

/* body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
} */

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

button {
  border-radius: 2em;
  border: 0.2em solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--fg-color);
  color: var(--bg-color);
  cursor: pointer;
  transition: box-shadow 0.25s ease, background-color var(--global-trans-time) ease, color var(--global-trans-time) ease, transform 1.2s ease;
  width: 16vw;
  min-width: 10em;
}

button:hover {
  box-shadow: var(--shadow-offset) var(--shadow-offset) var(--shadow-offset) var(--mid-color),
    var(--shadow-offset-neg) var(--shadow-offset) var(--shadow-offset) var(--mid-color),
    var(--shadow-offset-neg) var(--shadow-offset-neg) var(--shadow-offset) var(--mid-color),
    var(--shadow-offset) var(--shadow-offset-neg) var(--shadow-offset) var(--mid-color);
}

.emit {
  box-shadow: inset var(--shadow-offset) var(--shadow-offset) var(--shadow-offset) var(--fg-color),
    inset var(--shadow-offset-neg) var(--shadow-offset) var(--shadow-offset) var(--fg-color),
    inset var(--shadow-offset-neg) var(--shadow-offset-neg) var(--shadow-offset) var(--fg-color),
    inset var(--shadow-offset) var(--shadow-offset-neg) var(--shadow-offset) var(--fg-color);
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */